.videoCard{
    padding: 10px;
    color:white;
}
.videoCard > img {
    width:200px;
    transition: transform 150ms ease-in ;
    cursor: pointer;
    border-radius: 2px;
    background: #2B0101;
    opacity: .83;
    box-shadow:  27px 27px 35px #2701013b, 
                 -27px -27px 35px #2f010146;
}
.videoCard > h2{
    margin:0;
    padding:0;
    font-size: medium;
   
}
.videoCard > p{
    margin:0;
    padding:0;
    font-size: small
}
.videoCard >img:hover{
    transform: scale(1.04);
    opacity: 1;
   
}