.videoCard{
    padding: 5px;
    
   
}
.videoCard > img {
    width: 175px;
    transition: transform 150ms ease-in ;
    cursor: pointer;
    border-radius: 2px;
    background: #2B0101;
    opacity: .93;
    box-shadow:  17px 17px 25px #2726253b, 
                 -17px -17px 25px #18171546;
    transition: .25s transform;
}
.videoCard > h2{
    margin:0;
    padding:0;
    font-size: medium;
   
}
.videoCard > p{
    margin:0;
    padding:0;
    font-size: small
}
.videoCard >img:hover{
    transform: scale(1.04);
    opacity: 1;
   
}
@media only screen and (min-width: 786px){
    .videoCard > img {
        width: 200px
    }
}
h1,h2, h3,h4,p{
    color:rgb(231, 103, 18);
    font-family: 'Roboto', sans-serif;
  }